* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.google.com/specimen/Montserrat");
    font-weight: 700;
    font-weight: bold;
}

@font-face {
    font-family: "Fraunces";
    src: url("https://fonts.google.com/specimen/Fraunces");
    font-weight: 700;
    font-weight: bold;
}

h1{
    font-size: 36px;
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    line-height: 32px;
}

h2{
    font-size: 20px;
    font-family: "Fraunces";
    color: hsl(228, 12%, 48%);
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.content {
    background-color: hsl(30, 38%, 92%);
}

.color {
    background-color: hsl(212, 21%, 14%);
    background-color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    background-color: hsl(228, 12%, 48%);
}

p {
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 25px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.img {
    width: 100%;
    height: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.padding50px {
    padding: 50px;
}

.padding20px {
    padding: 20px;
}

.icon {
    background: url(./images/icon-cart.svg) no-repeat;
}

.with50 {
    width: 50%;
}

.borderRadius8px {
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.card {
    width: 50%;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn {
    font-size: 16px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    height: 50px;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn:hover{
    background-color: hsl(158, 36%, 31%);
}

.pPrice{
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%); ;
    font-size: 32px;
    font-family: "Fraunces";
    font-weight: 700;
}

.gap20px{
    gap: 20px;
}

.pSpan {
    font-weight: 400;
    font-size: 14px;
    color: hsl(212, 21%, 14%);
    text-decoration: line-through;
    margin-left: 20px;

}